### matlab workspace files ### 
*.mat
*.fig
*.jpeg
*.png
*.bmp
*.txt
*.eps
*.zip
*.tar 
*.gz

*.o
*.swp
*.swo
*.sw*

#monte carlo files! 
*.inp
*.dat

*.asv


# latex resiudal files

*.gz

*.blg

*.aux

*.bbl

*.log

*.out 
